<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Modules -->
    <script type="text/javascript" src="/modules/tweet/tweet.js"></script>
    <link rel='stylesheet' href='/modules/tweet/tweet.css' />

    <!-- Default -->
    <script type="text/javascript" src="/javascripts/general.js"></script>

    <!-- Style Sheets -->
    <link rel='stylesheet' href='/stylesheets/general.css' />
    <link rel='stylesheet' href='/stylesheets/dashboardpage.css' />

    <!-- Jquery -->
    <script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>

    <!-- Javascript -->
    <script type="text/javascript">
      $(document).ready(function(){
        var twts = <%- JSON.stringify(tweets) %>;
        var TwtModule = TweetModule();
        TwtModule.addTweets(twts, '.TweetsContainer', '<%- isAuth %>', '<%- authUser %>');
        setup();
      });
    </script>

  </head>
  <body id="body">
    <div class="g-content">
      <!-- Title -->
      <h1 class="thinTitle"><%= title %></h1>

      <!-- Box of Fritter Users -->
      <div class="g-fritteruserscontainer">
        <h3 class="g-fritterusertitle"> Current fritters </h3>
        <div class="g-fritterusers">
          <% for(var i = 0; i < individuals.length; i++){ %>
          	<div class="g-userlink">
          		@<span class="g-username"><%= individuals[i].username %> </span>
          	</div>
          <%}%>
        </div>
      </div>

      <!-- Box of current Tweets -->
      <div class="TweetsContainer"></div>

    </div>

  </body>
</html>
