<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Jquery -->
    <script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>

    <!-- Default -->
    <script type="text/javascript" src="/javascripts/general.js"></script>

    <!-- Modules -->
    <link rel='stylesheet' href='/modules/tweet/tweet.css' />
    <script type="text/javascript" src="/modules/tweet/tweet.js"></script>

    <!-- Style Sheets -->
    <link rel='stylesheet' href='/stylesheets/general.css' />
    <link rel='stylesheet' href='/stylesheets/homepage.css' />

    <!-- Javascript -->
    <script type="text/javascript">
      $(document).ready(function(){
        var twts = <%- JSON.stringify(tweets) %>;
        var TwtModule = TweetModule();
        TwtModule.addTweets(twts, '.tweetBox', '<%- authUser %>');

        setup();
      });
    </script>
  </head>
  <body>
    <!-- Navigation -->
    <div><a href="/dashboard"> Dashboard </a></div>

    <!-- Logout -->
    <form action="/logout" method="post">
      <div class="logout" onclick="parentNode.submit()">Logout?</div>
    </form>
    
    <!-- Titles -->
    <h1 class="thinTitle"><%= title %></h1>
    <h3 class="thinTitle"> Welcome <%= authUser %> </h3>

    <!-- Box of Followed users -->
    <div class="Followed">
      <div class="g-fritteruserscontainer">
        <h3 class="g-fritterusertitle"> Followed </h3>
        <div class="g-fritterusers">
          <% for(var i = 0; i < followed.length; i++){ %>
            <div class="g-userlink">@<span class="g-username"><%= followed[i].followee %></span></div>
          <%}%>
        </div>
      </div>
    </div>

    <!-- Box of Followers-->
    <div class="Followers">
      <div class="g-fritteruserscontainer">
        <h3 class="g-fritterusertitle"> Followers </h3>
        <div class="g-fritterusers">
          <% for(var i = 0; i < followers.length; i++){ %>
            <div class="g-userlink">@<span class="g-username"><%= followers[i].follower %></span></div>
          <%}%>
        </div>
      </div>
    </div>

    <!-- Tweeting box -->
    <div class="tweetingBox"> 
        <form name="input" action="/home/tweet" method="post">
            <input type="text" name="message" class="TweetInput" placeholder="What are you thinking?">
            <input type="submit" value="TWEET" class="TweetSubmit g-redbutton">
        </form>
    </div>

    <!-- Box to contain user's messages -->
    <div class="tweetBox">
      <div class="tweetBoxTitle">My Tweets</div>
    </div>
    
  </body>
</html>
